<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap -->
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- angularjs -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js" type="application/javascript"></script>
    <script src="js/myApp.js" type="application/javascript"></script>

</head>
<body  ng-app="myApp">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/login">Login</a>
        <a class="navbar-brand" href="/transactions">Transactions</a>
        
    </div>
</nav>
<div class="container" ng-controller="TransactionCtrl">

    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div>
        <form ng-submit="addTransaction()">
        <br/>
        <p>Value : <input type="text" name="value" ng-model="value"/></p>
        <br/>
        <h1>Enter a Value to add it to the list (submit with '&lt;Enter&gt;'): {{name}}</h1> 
        </form>
    </div>

    <table class="table table-striped">
        <tr><th>#</th><th>Transactions</th></tr>
        <tr ng-repeat="transaction in transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.value }}</td>
           
        </tr>
    </table>

</div><!-- /container -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>